@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
a{
   color: rgb(70, 130, 180);
}
/* a:visited{
    color: purple;
} */
a:hover, a:focus{
    color: rgba(70, 163, 180,0.8);
    background: gold;
}
a:active{
    color: red;
}
